:root {
	--colore-body: white;
	--colore-header: white;
	--colore-bottoni: hsl(213, 5%, 39%);
    --colore-testo: black; 
    --colore-hover: #f0f0f0; 
    --colore-selezione: black;
    --colore-selezione-testo: white;
    --colore-tick: #5454ff;
    /* Per il tema scuro:
    --colore-body: #1f232d;
	--colore-header: #010204;
	--colore-bottoni: white;
    --colore-testo: white;
    --colore-hover: #4a4a4a;
    --colore-selezione: white;
    --colore-selezione-testo: black;
    --colore-tick: red;
    */
}

body {
	margin: 0px;
	background-color: var(--colore-body);
	font-family: Arial;
}

p, span {
    color: var(--colore-testo);
}

.header {
	position: fixed;
	display: flex;
    justify-content: space-between;
    align-items: center;
	width: 100%;
	height: 50px;
	background-color: var(--colore-header);
	border-bottom: 0.0625rem solid var(--colore-hover);
}

.cambiaColore {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
    color: var(--colore-testo);
    margin-right: 5%;
}

.cambiaColore:hover {
    transition: .5s;
    background-color: var(--colore-hover);
}

/* SEZIONE COMPITI */
.compiti {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

/* INSERIMENTO COMPITO DA SVOLGERE */
.input {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
	width: 50%;
	height: 40px;
	background-color: var(--colore-header);
	border-radius: 25vh;
	border: 0.1rem solid var(--colore-hover);
}

input[type="text"] {
	color: var(--colore-testo);
	background-color: var(--colore-header);
	cursor: text;
	width: 100%;
	margin: 0px;
	font: 400 13.3333px Arial;
	padding: 0px 0px;
	border: 0px;
}

input[type="text"]:hover {
	cursor: text;
}

.tick {
	height: 25px;
	margin-right: 2%;
	margin-left: 2%;
}

.cerchio {
	fill: none;
	stroke: var(--colore-hover);
	stroke-miterlimit: 10;
	stroke-width: 70px;
}

/* DATA */

.datepicker-toggle {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  margin-right: 2%;
}

.datepicker-toggle-button {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 2px;
  width: 100%;
  height: 100%;
}

.datepicker-input {
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  box-sizing: border-box;
}

.datepicker-input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

:focus-visible {
	outline-width: 0px;
}

.cls-1 {
    fill: none;
}

.cls-1, .cls-2, .cls-3, .cls-4 {
    stroke: var(--colore-testo);
    stroke-width: 25px;
}

.cls-1, .cls-2, .cls-3 {
    stroke-miterlimit: 10;
}

.cls-2, .cls-3, .cls-4 {
    fill: none;
}

.cls-3, .cls-4 {
    stroke-linecap: round;
}

.cls-4 {
    stroke-linejoin: round;
}

/* ELENCO DEI COMPITI */

.elenco {
	width: 75%;
	margin-top: 30px;
}

.compito {
	height: 40px;
	border-top: 0.1rem solid var(--colore-hover);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.testo {
	width: 100%;
}

.data {
	width: 7em;
}

.svolto {
	text-decoration: line-through;
}

/* ----- MENU ----- */

.menu {
	margin-left: 5%;
    border-radius: 100%;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	cursor: pointer;
}

.menu:hover {
    transition: .5s;
    background-color: var(--colore-hover);
}

.menu path {
    fill: var(--colore-bottoni);
}

.sidenav {
    border-right: 0.0625rem solid var(--colore-hover);
	height: 100%;
	position: fixed;
    width: 0;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--colore-header);
	overflow-x: hidden;
	transition: 0.5s;
}

.elemento {
	padding: 4px 4px 4px 8px;
	font-size: 18px;
	color: var(--colore-bottoni);
	transition: 0.3s;
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.elemento:hover {
	color: var(--colore-testo);
	background-color: var(--colore-hover);
}

.sidenav span {
	padding: 4px 4px 4px 4px;
	margin-left: 4px;
	transition: 0.3s;
}

.closebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    cursor: pointer;
    margin-top: 10px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
	color: var(--colore-bottoni);
}

.closebtn:hover {
    transition: .5s;
    background-color: var(--colore-hover);
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	margin-left: 50px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav span {
		font-size: 18px;
	}
}

.scrittaProgetto {
    color: var(--colore-bottoni);
    font-size: 1.3em;
    font-weight: bold;
}

.nuovoProgetto {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
    margin-top: 60px;
}

.iconaNuovoProgetto {
    color: var(--colore-bottoni);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
	width: 1.3em;
    height: 1.3em;
	margin-right: 15px;
	border-radius: 100%;
    cursor: pointer;
}

.iconaNuovoProgetto:hover {
    transition: .5s;
	background-color: var(--colore-hover);
}

#main {
	transition: margin-left .5s;
}

/* MENU DELLA MODIFICA */

.modifica {
    position: absolute;
    z-index: 500 !important;
    display: none;
    text-align: left;
    background: var(--colore-header);
    border: 0.0625rem solid var(--colore-hover);
}

.modifica ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    padding-top: 3px;
    padding-bottom: 3px;
    min-width: 120px;
}

.modifica ul li {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 10px;
}

.opzione:hover {
    background: var(--colore-hover);
    cursor: pointer;
}

.rinomina {
    color: var(--colore-testo);
}

.elimina {
    color: red;
}

.elimina:hover {
    color: var(--colore-header);
    background-color: red;
    cursor: pointer;
}

/* CASELLA PER SCEGLIERE IL NOME */

.scegliNome {
    z-index: 1000 !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-left: 12px;
    display: flex;
	width: 30%;
	height: 40px;
	background-color: var(--colore-header);
	border-radius: 25vh;
	border: 0.1rem solid var(--colore-hover);
}
